[submodule "src/utils/OrbbecSDK_ROS2"]
	path = src/utils/OrbbecSDK_ROS2
	url = https://gitee.com/orbbecdeveloper/OrbbecSDK_ROS2.git
[submodule "src/robot_proto"]
	path = src/robot_proto
	url = git@github.com:Kitjesen/Robot_Proto.git
