[submodule "research/coreplanner"]
	path = research/coreplanner
	url = https://github.com/BBD00/core_planner.git
[submodule "research/semantic/DualMap"]
	path = research/semantic/DualMap
	url = https://github.com/Eku127/DualMap.git
[submodule "research/semantic/HOV-SG"]
	path = research/semantic/HOV-SG
	url = https://github.com/hovsg/HOV-SG.git
[submodule "research/semantic/OVO"]
	path = research/semantic/OVO
	url = https://github.com/tberriel/OVO.git
[submodule "research/semantic/concept-graphs"]
	path = research/semantic/concept-graphs
	url = https://github.com/concept-graphs/concept-graphs.git
[submodule "research/semantic/vlmaps"]
	path = research/semantic/vlmaps
	url = https://github.com/vlmaps/vlmaps.git
[submodule "third_party/research/OmniPerception"]
	path = third_party/research/OmniPerception
	url = https://github.com/aCodeDog/OmniPerception.git
